body{
    background-color:black;
    font-family:monospace;
    color:deepskyblue;
    font-size:large;
}


.saldo{
    font-size:large;
}

.geb{
    font-size: 125%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
    appearance: textfield;
}

select{
    border-color:deepskyblue;
    color:deepskyblue;
    background-color:black;
}

input{
    border-color:deepskyblue;
    color:deepskyblue;
    background-color:black;
}

button{
    border-color:deepskyblue;
    color:deepskyblue;
    background-color:black;
}