h2{
    position:fixed;
    left:20%;
    right:20%;
    bottom:20%;
    top:20%;
    z-index:100;
    font-size: x-large;
    color:white;
    background-color: black;
    background-size: 50px 100px;
    align-items: center;
    text-align: center;
    padding-bottom: 10%;
    margin-left:-20%;
    margin-right:-20%;
    margin-top:-5%;
    margin-bottom:-5%;
}